.container {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid #666;
}

.items {
  width: 75%;
  height: 100%;
  background-color: #9f411d;
  display: flex;
  flex-direction: column;
}

.normalDishContainer {
  padding: 6px;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: center;
}

.normalDish {
  height: 130px;
}

.bottomContainer {
  width: 946px;
  height: 10%;
  border-radius: 5px;
  margin: 0px 5px 10px 5px;
  overflow-x: auto;
  border: 1px rgb(197, 198, 199) solid;
}

.queue {
  width: 25%;
  height: 100%;
  background-color: #f7f1e0;
}

.queue > .controls {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.queue > .orders {
  background-color: #b18b5b;
  width: 100%;
  height: 600px;
  overflow: scroll;
}

.queue > .orders h2 {
  text-align: center;
  padding: 5px;
  color: #fff;
}

.queue > .orders > .order_item {
  background-color: #fff;
  height: 90px;
  width: 95%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.queue_image{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.queue_image > button{
  padding: 0;
  font-size: 10px;
  border-radius: 0;
}

.queue_image > img {
  height: 70%;
}

.queue > .orders > .order_item > .order_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 75%;
}

.queue .order_name{
  padding: 5px;
}

.queue > .orders > .order_item > .order_info > .order_price{
  text-align: right;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.queue .order_amount{
  font-weight: 300;
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.queue .amount_circle{
  background-color: #b00b02;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue .order_price_text{
  padding: 0 5px;
}

.queue > .total {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 24px;
}

.queue > .controls{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dishName {
  color: #5e2e2a;
  text-transform: uppercase;
}

.price {
  position: absolute;
  bottom: 10px;
  right: 40px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff,
    1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff,
    -1px 0 0 #fff;
}

.special{
  width: 100%;
  background-color: #d6440b;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 10px;
  transform: rotate(45deg) translate(80px, -20px);
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
}
